---
layout: page
title: Hello
resume: As you might already know, my name is Jeremias Menichelli and I'm a developer from Argentina working everyday to make the web a better place using CSS, JavaScript and other stuff.
type: home
---
<section class="home--main">
    <div class="row">
        <div class="column column-6">
            <h2>Experience</h2>
            <p>After some time working on small sites for companies that were settled on my home town while studying, I decided to make some change and decided to dropped it since I felt I wasn't really learning and enjoying it as before.</p>
            <p>But that doesn't mean I stopped studying, from early time in the morning and til evening came I read books and articles about web development trying to focus on becoming the best possible Front End developer I could be.</p>
            <p>That same year, I was hired by <a href="www.globant.com" target="_blank">Globant</a> and started working for big clients like Microsoft, StateFarm and New York Stock Exchange between others building awesome responsive web sites.</p>
            <p>Now, I'm currently working in <a href="www.ordergroove.com" target="_blank">OrderGroove</a> powering the subscription revolution using JavaScript.</p>
        </div>
    </div>
    <div class="row">
        <div class="column column-6">
            <h2>Stuff on GitHub</h2>
            <p>These are a few of the many projects I have shared with the community.</p>
        </div>
        {% for r in site.data.repositories %}
            {% assign mod = forloop.index0 | modulo:2 %}
            {% if mod == 0 %}
                <div class="inner-row">
            {% endif %}
                    <div class="column column-3">
                        <h3>{{ r.name }}</h3>
                        <p>{{ r.description }} <a href="{{ r.url }}" target="_blank">Go&nbsp;to&nbsp;the&nbsp;project&nbsp;repository&nbsp;&raquo;</a></p>
                    </div>
            {% if mod != 0 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
