---
layout: default
---
<section class="hello">
	<div class="container">
		<h2><span>Hello</span></h2>
		<p>My name is Jeremias Menichelli and I am a twenty seven years old web developer from San Lorenzo, Argentina.
			I like to spend most of the time coding and building cool stuff with other developers to make the web a better place.
		</p>
		<p>If you think I can help you in your projects, <a href="mailto:jmenichelli@gmail.com">just let me know</a>!</p>
		</div>
</section>

{% if site.posts.size > 0 %}
<section class="hello-blog">
	<div class="container">
		<h2>Blog</h2>
		<p>I also write about some thoughts I have, most of them about coding.</p>
		<div class="card-highlight">
			<div class="card-highlight-date">
				<span class="last-post">Last Post</span>
				<span>{{ site.posts[0].date | date : '%d %b %Y' }}</span>
			</div>
			<h3>{{ site.posts[0].title }}</h3>
			{% if site.posts[0].resume.size > 0 %}
				<p class="resume">{{ site.posts[0].resume }}</p>
			{% endif %}
			<a class="cta-btn" href="{{ site.posts[0].url }}">Go to the post</a>
		</div>
	</div>
</section>
{% endif %}

<section class="main">
	<div class="container">
		<h2><span>Experience</span></h2>
		<p>I started working as a web developer many years ago, helping small bussiness to jump on the web. Later I got the chance to work in some cool important projects in <a href="http://www.globant.com" target="_blank">Globant</a> with great clients like Razorfish, Microsoft, StateFarm, the New York Stock Exchange and many more.</p> 
		<p>Now I'm currently in Rosario, Argentina working with the OrderGroove team in <a href="http://www.velocitypartners.net/" target="_blank">Velocity Partners</a> coding with vanilla JavaScript and having fun.</p>
	</div>
	<div class="container">
		<h2><span>Stuff on GitHub</span></h2>
		<p>In my spare time I put on GitHub some solutions I've crafted myself for common problems on front end development. Here are some of them...</p>
		<div class="card-highlight">
			<h3>classing</h3>
			<p>Modern browsers include the classList API that has a great performance, but in some projects you can't take advantage of that boost because you need to cover old browsers (I'm looking at you IE). So this prototypes a function on HTML elements new class functions and if classList is available the API is used, if it's not then fallback functions are triggered.</p>
			<a href="https://github.com/jeremenichelli/classing" class="cta-btn" target="_blank">Go to the repo</a>
		</div>
		<div class="card-highlight">
			<h3>twelvegrid</h3>
			<p>This is a CSS twelve column grid I use on my projects. Also, it's mobile first.</p>
			<a href="https://github.com/jeremenichelli/twelvegrid" class="cta-btn" target="_blank">Go to the repo</a>
		</div>
		<div class="card-highlight">
			<h3>eventually</h3>
			<p>This script allows you to add and remove events using a new function that implements the attach and detach event function if addEventLIstener and removeEventListener are not available, with fallbacks for stopPropagation and preventDefault.</p>
			<a href="https://github.com/jeremenichelli/eventually" class="cta-btn" target="_blank">Go to the repo</a>
		</div>
	</div>
</section>
	
