---
layout: page
title: Hello
resume: My name is Jeremias Menichelli and I'm a front end developer building great experiences following the best practices on web technologies, currently living in Argentina and working with development teams on the United States.
type: home
---
<section class="home--contact">
    <div class="row">
        <div class="column column-6">
            <p class="home--contact-message">
                <em>Do you need help on your next project or just want to say hello? <a href="mailto:jmenichelli@gmail.com" target="_blank">Contact&nbsp;me&nbsp;&raquo;</a></em>
            </p>
        </div>
    </div>
</section>

<section class="home--main">
    <div class="row">
        <div class="column column-6">
            <h2>Experience</h2>
            <p>After some time working on small sites for companies that were settled on my home town while studying, I decided to make some changes and leave University because I wasn't really learning and enjoying it as I did before.</p>
            <p>The next step was to become a self-taught web developer specialized in front end technologies.</p>
            <p>That same year, I was hired by <a href="https://www.globant.com" target="_blank">Globant</a> and had the chance to work with brands like Microsoft, StateFarm and the New York Stock Exchange between others on beautiful and scalable responsive web projects.</p>
            <p>Later, I joined <a href="https://www.ordergroove.com" target="_blank">OrderGroove</a> to build awesome scripts that power the subscription revolution.</p>
        </div>
    </div>
    <div class="row">
        <div class="column column-6">
            <h2>Stuff on GitHub</h2>
            <p>These are some of the ideas I have shared with the community...</p>
        </div>
        {% for r in site.data.repositories %}
            {% assign mod = forloop.index0 | modulo:2 %}
            {% if mod == 0 %}
                <div class="inner-row">
            {% endif %}
                    <div class="column column-3">
                        <h3>{{ r.name }}</h3>
                        <p>{{ r.description }} <a href="{{ r.url }}" target="_blank">Go&nbsp;to&nbsp;the&nbsp;project&nbsp;repository&nbsp;&raquo;</a></p>
                    </div>
            {% if mod != 0 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
