{% if page.type != 'error' and type != 'post' and type != 'blog' and site.posts.size > 0 %}
<section class="blog--banner">
    <div class="row">
        <div class="column column-6">
            <h2 class="blog--banner-title">Blog&nbsp;<span>~</span></h2>
            <p>When some thoughts or experiences can help others I write about them, like this one...</p>
            <div class="inner-row">
                <div class="column column-6">
                    <h3>{{ site.posts[0].title }}</h3>
                    <p>{{ site.posts[0].resume }} <a href="{{ site.posts[0].url }}">Go&nbsp;to&nbsp;the&nbsp;post&nbsp;&raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<footer {% if page.type %}class="{{ page.type }}--footer"{% endif %}>
    <div class="row">
        <div class="column column-6">
            <a href="https://www.twitter.com/jeremenichelli">Twitter</a> | <a href="https://www.github.com/jeremenichelli">GitHub</a> | <a href="/feed.xml" target="_blank">Subscribe&nbsp;to&nbsp;the&nbsp;RSS&nbsp;feed&nbsp;&raquo;</a>
            <p>{{ site.url }} | {{ site.author }} &copy; All rights reserved</p>
        </div>
    </div>
</footer>