<head>
    {% if page.id %}{% capture type %}post{% endcapture %}{% endif %}
    {% if page.type %}{% capture type %}{{ page.type }}{% endcapture %}{% endif %}

    {% if page.title %}{% capture title %}{{ page.title }}{% endcapture %}
    {% else %}{% capture title %}{{ site.title }}{% endcapture %}
    {% endif %}

    {% if page.resume %}{% capture description %}{{ page.resume }}{% endcapture %}
    {% else %}{% capture description %}{{ site.description }}{% endcapture %}
    {% endif %}

    {% capture url %}{{ site.url }}{{ page.url | prepend: site.baseurl }}{% endcapture %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="{{ url }}">

    <!-- cover all apple devices -->
    <link rel="apple-touch-icon" sizes="57x57"
      href="/assets/favicon/apple-touch-icon-57x57.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="60x60"
      href="/assets/favicon/apple-touch-icon-60x60.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="72x72"
      href="/assets/favicon/apple-touch-icon-72x72.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="76x76"
      href="/assets/favicon/apple-touch-icon-76x76.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="114x114"
      href="/assets/favicon/apple-touch-icon-114x114.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="120x120"
      href="/assets/favicon/apple-touch-icon-120x120.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="144x144"
      href="/assets/favicon/apple-touch-icon-144x144.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="152x152"
      href="/assets/favicon/apple-touch-icon-152x152.png?time={{ site.data.timestamps.favicon }}">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/assets/favicon/apple-touch-icon-180x180.png?time={{ site.data.timestamps.favicon }}">

    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?time={{ site.data.timestamps.favicon }}">

    <link rel="icon" type="image/png"
      href="/assets/favicon/favicon-32x32.png?time={{ site.data.timestamps.favicon }}" sizes="32x32">
    <link rel="icon" type="image/png"
      href="/assets/favicon/favicon-96x96.png?time={{ site.data.timestamps.favicon }}" sizes="96x96">
    <link rel="icon" type="image/png"
      href="/assets/favicon/favicon-16x16.png?time={{ site.data.timestamps.favicon }}" sizes="16x16">

    <link rel="icon" type="image/png"
      href="/assets/favicon/android-chrome-192x192.png?time={{ site.data.timestamps.favicon }}" sizes="192x192">

    <meta name="theme-color" content="#2196f3">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
      content="/assets/favicon/mstile-144x144.png?time={{ site.data.timestamps.favicon }}">

    <!-- twitter card meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@jeremenichelli">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:url" content="{{ url }}">
    <meta name="twitter:image"
      content="http://jeremenichelli.github.io/assets/img/avatar2x.jpeg?time={{ site.data.timestamps.images }}">

    <script>
      window.PAGE = '{{ type }}';
      window.TIMESTAMPS = {{ site.data.timestamps | jsonify }};
    </script>

    <style id="critical">{% include critical--{{ type }}.html %}</style>

    <script>{% include critical--js.html %}</script>

    <noscript>
        <link rel="stylesheet" property="stylesheet" type="text/css"
            href="/assets/styles/{{ type }}.css?time={{ site.data.timestamps.styles }}">
    </noscript>
</head>
