<header>
    <div class="container">
        <a class="avatar" href="{% if type == 'home' %}/about{% else %}/{% endif %}">
            <img alt="" class="avatar__img"
                src="https://s.gravatar.com/avatar/802b096bc7cef6843db036595503b559?s=85"
                srcset="https://s.gravatar.com/avatar/802b096bc7cef6843db036595503b559?s=170 2x">

            <span class="avatar__tip" style="display: none;">
                {% if type == 'home' %}About me{% else %}Back to home{% endif %}
            </span>
        </a>

        <h1 class="header__title">{{ page.title }}</h1>

    {% if type == 'home' %}
        <span class="header__subtitle">front end developer</span>
    {% endif %}

    {% if type == 'post' %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%-d %B, %Y'}}</time>
    {% endif %}
    </div>
</header>
