<head>
  {% if page.type %}{% capture type %}{{ page.type }}{% endcapture %}{% endif %}

  {% if page.title %}{% capture title %}{{ page.title }} | Jeremias Menichelli{% endcapture %}
  {% else %}{% capture title %}{{ site.title }}{% endcapture %}
  {% endif %}

  {% if page.resume %}{% capture description %}{{ page.resume }}{% endcapture %}
  {% else %}{% capture description %}{{ site.description }}{% endcapture %}
  {% endif %}

  {% capture url %}{{ page.url | prepend: site.url }}{% endcapture %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#101010">

  <!-- structured data -->
  {% if type == 'home' %}{% include _data-home.html %}
  {% elsif type == 'post' %}{% include _data-post.html %}
  {% else %}{% include _data-page.html %}
  {% endif %}

  <!-- favicons -->
  {% include favicons.html %}

  <!-- twitter card meta -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jeremenichelli">
  <meta name="twitter:creator" content="@jeremenichelli" />
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/images/twitter-card-image.jpeg">

  <!-- preconnect with google fonts cdns -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/">

  <style id="critical">
  {% include _styles-{{ type }}.html %}
  </style>

  <script>
    // critical scripts
    {% include _js-critical.html %}
  </script>
</head>
