// layout variables
@spacing: 55px;
@spacing--mobile: 30px;

// color variables
@background-color--light: #fefefe;
@background-color--medium: #f7f7f7;

@text-color--dark: #404040;
@text-color--light: #efefef;

@main-color: #03a9f4;
@main-color--dark: #039be5;

@blog-color: #ffb300;
@blog-color--dark: #ffa000;

@about-color: #37474f;
@about-color--dark: #263238;

@error-color: #e53935;
@error-color--dark: #d32f2f;
