// layout variables
@spacing: 50px;
@spacing--mobile: 35px 20px;

// color variables
@background-color--light: #ffffff;
@background-color--medium: #f7f7f7;

@text-color: #212121;

@divider-color: #e0e0e0;

// others
@avatar-size: 85px;
@tab-size: 4;
@code-hyphens: none;
