@import '__helpers.less';

// non critical styles
.avatar__tip {
    background: @background-color--selection;
    border-radius: 4px;
    color: @text-color--light;
    font-size: 0.875em;
    left: 115%;
    line-height: 1em;
    margin: 0px;
    padding: 5px 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;

    // tip arrow
    &:before {
        content: '';
        border-width: 5px 5px 5px 0;
        border-style: solid;
        border-color: transparent @background-color--selection;
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
    }
}

.avatar {

    &:hover {

        .avatar__tip {
            opacity: 1;
            visibility: visible;
        }
    }
}

// equal line heights and spacing
h3, h4, h5, h6 {
    line-height: 1.2em;
    margin: 1.5em 0 .83195em;
}

h4, h5, h6 {
    font-size: 1em;
    text-transform: uppercase;
}

h5, h6 {
    color: @text-color--medium;
    font-weight: 400;
}

footer {
    text-align: center;
}

.footer__link {
    .secondary--text();

    &:visited {
        color: @text-color--medium;
    }
}

// selection flavour
::selection {
    background-color: @background-color--selection;
    color: @text-color--light;
}

::-moz-selection {
    background-color: @background-color--selection;
    color: @text-color--light;
}
