@import '__variables.less';

footer {
    text-align: center;
}

// selection flavour
::selection {
    background-color: @background-color--medium;
}

::-moz-selection {
    background-color: @background-color--medium;
}
