@import '__vars.less';

.header__subtitle {
  color: @accent;
  font-size: @short--font-size;
  letter-spacing: @low--letter-spacing;
  margin: .1em 0 0;
  text-transform: uppercase;
}

.main__resume {
  margin-top: 0;
}
