// import shared critical styles
@import '_critical.less';


/* --- BLOG PAGE CRITICAL STYLES --- */

.blog--title span {
    color: @blog-color;
}

.blog--lastpost-tag {
    font-weight: 400;
    text-transform: uppercase;
}

.blog--post-title {
    margin: 0;
}
