// import color variables
@import '__variables.less';

// import shared noncritical styles
@import '_noncritical.less';

/* --- HOME PAGE NON CRITICAL STYLES --- */

.nav--link {

    &:hover,
    &:focus {
        color: @main-color;
    }
}

.home--main {

    a {
        color: @main-color;
    }
}

.home--main-title span {
    color: @main-color;
}

.blog--banner {

    a {
        color: @blog-color;
    }
}

.blog--banner-title {
    margin-top: 0;

    span {
        color: @blog-color;
    }
}

// selection flavour
::selection {
    background-color: @main-color;
    color: @text-color--light;
}

::-moz-selection {
    background-color: @main-color;
    color: @text-color--light;
}
