// import color variables
@import '__variables.less';

// import shared noncritical styles
@import '_noncritical.less';

/* --- HOME PAGE NON CRITICAL STYLES --- */

.nav--link {

    &:hover,
    &:focus {
        color: @main-color;
    }
}

.home--main,
.home--contact {

    a {
        color: @main-color;
    }
}

.home--contact {
    background-color: @background-color--medium;
    transition: background-color .35s ease;
}

.blog--banner {

    a {
        color: @blog-color;
    }
}

.blog--banner-title {
    margin-top: 0;

    span {
        color: @blog-color;
    }
}

// selection flavour
::selection {
    background-color: @main-color;
    color: @text-color--light;
}

::-moz-selection {
    background-color: @main-color;
    color: @text-color--light;
}
