@import '__helpers.less';
@import '_noncritical.less';

// post non critical styles
a[href*="jsfiddle"],
a[href*="plnkr"] {
  color: @accent;
  display: block;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}

del, code {
  display: inline-block;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 13px;
  line-height: 1.5;
  padding: 0 4px;
}

code {
  background-color: @background-color--dark;
  color: @text-color--light;
  border-radius: 4px;

  -moz-tab-size: @tab-size;
  -o-tab-size: @tab-size;
  tab-size: @tab-size;

  -webkit-hyphens: @code-hyphens;
  -moz-hyphens: @code-hyphens;
  -ms-hyphens: @code-hyphens;
  hyphens: @code-hyphens;
}

.c, .c1, .cm {
  color: #909090;
  font-style: italic;
}

.k, .kd, .nl {
  font-weight: 700;
}

pre {
  background-color: @background-color--dark;
  border-radius: 4px;
  line-height: 1.25em;
  overflow: auto;
  padding: 10px 15px;

  code {
    background-color: transparent;
    padding: 0;
  }
}

blockquote {
  color: @accent;
  font-style: italic;
  line-height: 1.75em;
  margin: 0;
  padding: 20px;
}

@media (min-width: 769px) {

  blockquote {
    padding-right: 35px;
    padding-left: 35px;
  }

  code {
    font-size: 13.5px;
  }
}
