// import color variables
@import '__variables.less';

// import shared noncritical styles
@import '_noncritical.less';

/* --- POSTS NON CRITICAL STYLES --- */

.nav--link {

    &:hover,
    &:focus {
        color: @blog-color;
    }
}

.post--main {

    a {
        color: @blog-color;
    }
}

del {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 14px;
    font-weight: 300;
    padding: 1px 5px;
}

blockquote {
    color: @blog-color;
}

code {
    background-color: @background-color--medium;
    border-radius: 5px;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-weight: 300;
    padding: 1px 5px;
    vertical-align: middle;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

.c, .c1, .cm {
    font-style: italic;
    opacity: .65;
}

pre {
    background-color: @background-color--medium;
    border-radius: 5px;
    padding: 10px 12px;

    code {
        background-color: transparent;
        padding: 0;
    }
}

.post--navigation-indicator {
    color: @blog-color;
    text-transform: uppercase;

    + h2 {
        font-size: 35px;
        margin: 6px 0 0;
    }
}

.post--navigation-next {
    text-align: right;
}

// selection flavour
::selection {
    background-color: @blog-color;
    color: @text-color--light;
}

::-moz-selection {
    background-color: @blog-color;
    color: @text-color--light;
}

// desktop styles
@media screen and (min-width: 769px) {

    blockquote {
        text-align: center;
    }
}
