@import '__variables.less';
@import '_noncritical.less';

// post non critical styles
del, code {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: .80555556em;
    padding: 1px 4px;
}

code {
    background-color: @background-color--medium;
    border-radius: 4px;

    -moz-tab-size: @tab-size;
    -o-tab-size: @tab-size;
    tab-size: @tab-size;

    -webkit-hyphens: @code-hyphens;
    -moz-hyphens: @code-hyphens;
    -ms-hyphens: @code-hyphens;
    hyphens: @code-hyphens;
}

.c, .c1, .cm {
    color: #9e9e9e;
    font-style: italic;
}

pre {
    background-color: #f5f5f5;
    border-radius: 4px;
    line-height: 1.15em;
    overflow: auto;
    padding: 12px 15px;
}

pre code {
    background-color: transparent;
    font-size: 14px;
    padding: 0;
}

blockquote {
    background-color: @background-color--medium;
    border-color: @divider-color;
    border-style: solid;
    border-width: 0 0 0 5px;
    font-style: italic;
    line-height: 1.75em;
    margin: 2em 0;
    padding: 20px;
}

@media (min-width: 769px) {
    
    blockquote {
        padding-right: 35px;
        padding-left: 35px;
    }
}
