---
layout: default
title: About me
type: about
resume: Hi there! My name is Jeremias Menichelli; I'm a front end developer, curious mind and writer from Argentina.
---

<p>I have experience building different types of web products, from responsive and static generated sites to beautiful to animations and web applications.</p>

<p>My focus now is on component based web architecture, tooling and performance following the best practices in the industry.</p>

<blockquote>
  <p>A person who adapts very quickly to new teams and new technologies</p>
  <ul>
    <li>German Vazquez, Project&nbsp;Manager</li>
  </ul>
</blockquote>
<p>I was lucky enough to work for great&nbsp;companies.</p>

<div class="about__companies">
  {% include globant--logo.html %}
  {% include vp--logo.html %}
  {% include jam3--logo.html %}
  {% include espn--logo.html %}
  {% include globallogic--logo.html %}
</div>

<p>I feel comfortable both leading a project or developing the small pieces that make it work. I value open and honest communication above all.</p>

<blockquote>
  <p>His human qualities and professionalism make him an excelent team member</p>
  <ul>
    <li>Juan Peralta, Regional&nbsp;Manager at Velocity&nbsp;Partners</li>
  </ul>
</blockquote>

<p>My work went to <strong>Microsoft</strong>, <strong>Google</strong>, <strong>Disney</strong>, <strong>Instagram</strong> and <strong>Facebook</strong> domains.</p>

<p>Feel free to <a href="mailto:jmenichelli@gmail.com">contact me</a> to discuss future projects or to talk about the web.</p>

<p>You can find me on <a href="https://medium.com/@jeremenichelli">medium</a>, <a href="https://twitter.com/jeremenichelli">twitter</a> or&nbsp;<a href="https://github.com/jeremenichelli">github</a>.</p>
