@import '__vars.less';

.header__container {
  padding-top: 3.5em;
}

.main__resume {
  color: @text-color--medium;
  font-size: 1.1em;
  margin: 0 0 2em;
}

blockquote {
  letter-spacing: @low--letter-spacing;
  text-transform: uppercase;

  ul {
    color: @text-color--medium;
  }
}

// nav
nav {
  padding: @horizontal--spacing--mobile;

  @media @desktop {
    padding: 2em 4em;
    text-align: right;
  }
}

.nav__link {
  color: @accent;
  font-size: @short--font-size;
  letter-spacing: @low--letter-spacing;
  text-transform: uppercase;

  &:visited {
    color: @accent;
  }

  + .nav__link {
    margin: 0 0 0 3em;

    @media @desktop {
      margin: 0 0 0 4em;
    }
  }
}
