/* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) */
/* http://cssreset.com */
html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
span,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --- FONTS --- */
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23883811');
  src: url('../font/fontello.eot?23883811#iefix') format('embedded-opentype'), url('../font/fontello.woff?23883811') format('woff'), url('../font/fontello.ttf?23883811') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin: 0 4px 0 0;
}
.icon-mail:before {
  content: '\e800';
}
/* '' */
.icon-menu:before {
  content: '\e803';
}
/* '' */
.icon-github:before {
  content: '\e802';
}
/* '' */
.icon-twitter:before {
  content: '\e801';
}
/* '' */
/* --- BOX-SIZING --- */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* --- CLEARFIX --- */
.clearfix,
.row {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after,
.row:after {
  clear: both;
}
/* --- VARIABLES --- */
/* --- STYLES --- */
body {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  height: 100%;
}
.preload * {
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
a {
  color: #333333;
  font-weight: 400;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  /* 40px */
  letter-spacing: -0.01em;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0 0 15px;
}
h3 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  /* 28px */
  letter-spacing: -0.01em;
  font-weight: 400;
  margin: 25px 0 15px;
}
h4 {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  /* 22px */
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 25px 0 10px;
  text-transform: uppercase;
}
h5 {
  color: #555555;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  /* 20px */
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 0 0 10px;
  text-transform: uppercase;
}
h6 {
  color: #777777;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  /* 18px */
  font-weight: 400;
  letter-spacing: -0.01em;
  margin: 0 0 10px;
  text-transform: uppercase;
}
p {
  line-height: 1.5em;
  margin: 0 0 20px;
}
strong {
  font-weight: 400;
}
em {
  background: #E5E5E5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: 400;
  margin: 0 1px 0 0;
  padding: 0 4px;
}
pre {
  background: #E5E5E5;
  border: solid 1px #E0E0E0;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: Menlo, Monaco, monospace;
  font-size: .875em;
  font-weight: 300;
  line-height: 1.35714286em;
  /* 19px */
  margin: 0 0 20px;
  overflow-x: auto;
  padding: 10px 12px;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  font-family: inherit;
}
pre code .c1 {
  color: #666666;
  font-style: italic;
}
img {
  max-width: 100%;
}
/* HEADER  */
.header-lines {
  background: #85d6e4;
}
.line {
  float: left;
  height: 5px;
  width: 33.3333334%;
}
.hello-line {
  background: #92e4c9;
}
.blog-line {
  background: #ffc94e;
}
.third-line {
  background: #85d6e4;
}
header {
  background: #ffffff;
  position: relative;
}
nav {
  float: right;
}
nav a {
  border-bottom: solid 2px transparent;
  color: #333333;
  font-size: 1em;
  line-height: 90px;
  margin-left: 18px;
  padding: 3px 0;
  text-transform: uppercase;
}
.logo {
  float: left;
  height: 90px;
  width: 90px;
}
.brand {
  float: left;
  height: 90px;
  margin: 0 0 0 10px;
  padding: 25px 0 0;
}
.brand .name {
  font-size: 1.75em;
  /* 28px */
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1em;
  margin: 0;
}
.brand .job {
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.01em;
  margin: 0;
  text-transform: uppercase;
}
/* MOBILE MENU */
.mobile-menu-button {
  display: none;
  font-size: 2em;
  height: 90px;
  left: 0;
  line-height: 90px;
  overflow: hidden;
  position: absolute;
  text-indent: -6px;
  top: 15px;
  width: 90px;
}
#page-wrap {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#page-wrap-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}
#page-wrap-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.mobile-menu {
  background: #EEEEEE;
  -moz-box-shadow: inset -2px 0 5px 0 #cccccc;
  -webkit-box-shadow: inset -2px 0 5px 0 #cccccc;
  box-shadow: inset -2px 0 5px 0 #cccccc;
  display: none;
  height: 100%;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  left: 0;
  max-width: 280px;
  position: fixed;
  top: 0;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transition: -moz-transform 0.45s ease 0s;
  -ms-transition: -ms-transform 0.45s ease 0s;
  -o-transition: -o-transform 0.45s ease 0s;
  -webkit-transition: -webkit-transform 0.45s ease 0s;
  transition: transform .45s ease 0s;
  width: 70%;
}
.mobile-menu .container {
  border-top: solid 5px #CCCCCC;
}
.mobile-menu a {
  display: block;
  margin: 15px 0 25px;
}
.mobile-menu .close-menu {
  border-bottom: solid 2px #CCCCCC;
  padding: 0 0 15px;
}
/* CONTENT */
section {
  background: #ffffff;
}
section a:hover {
  text-decoration: underline;
}
section .container {
  padding: 50px 30px;
}
section.hello h1 span,
section.hello h2 span {
  border-bottom: solid 4px #92e4c9;
}
section.hello-blog {
  background: #ffc94e;
}
section.blog-main h1 span,
section.blog-main h2 span {
  border-bottom: solid 4px #ffc94e;
}
section.blog-main ul {
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 20px;
}
section.blog-main ul li {
  line-height: 1.5em;
}
section.main .container + .container {
  padding-top: 0;
}
section.main h1 span,
section.main h2 span {
  border-bottom: solid 4px #85d6e4;
}
section.about {
  background: #85d6e4;
}
section.about h3 {
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 870px;
  padding: 30px;
}
.container > *:last-child {
  margin-bottom: 0;
}
.post {
  margin: 35px 0 0;
}
.post h3 {
  margin: 0 0 15px;
}
.post:first-child {
  margin: 0;
}
.card-highlight {
  border-left: solid 3px #333333;
  padding: 0 0 0 20px;
  margin: 35px 0 0;
}
.card-highlight-date {
  display: block;
  font-size: .875em;
  /* 14px */
  font-weight: 700;
  margin: 0 0 -10px;
  text-transform: uppercase;
}
.card-highlight-date .last-post {
  color: #666666;
}
.card-highlight-date + h3 {
  line-height: 1.07142857em;
  /* 30px */
  margin: 10px 0 15px;
}
.cta-btn {
  background-color: #333333;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.cta-btn:hover {
  text-decoration: none;
}
/* FOOTER */
footer {
  background: #ffffff;
}
footer .rights {
  margin: 0;
}
footer .rights a {
  font-weight: 300;
}
@media (max-width: 769px) {
  section {
    margin-top: -1px;
  }
  section .container {
    padding: 30px 15px;
  }
  .container {
    padding: 15px;
  }
  nav {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu-open {
    overflow: hidden;
  }
  .mobile-menu-open .mobile-menu {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .mobile-menu-open #page-wrap-overlay {
    background: #000000;
    display: block;
    opacity: .65;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
  .mobile-menu-button {
    height: 70px;
    line-height: 70px;
    text-indent: -5px;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .brand {
    height: 70px;
    padding-top: 18px;
    margin-left: 6px;
  }
  h1,
  h2 {
    margin-top: -8.75px;
  }
}
@media (min-width: 1441px) {
  body {
    font-size: 18px;
  }
  .brand {
    padding-top: 20px;
  }
}
