---
layout: default
title: Blog
---

<section class="blog-main">
	<div class="container">
		<div class="card">
			<h2><span>{{ page.title }}</span></h2>
			{% if site.posts.size > 0 %}
				<div class="card-highlight">
					<div class="card-highlight-date">
						<span class="last-post">Last Post</span>
						<span>{{ site.posts[0].date | date : '%d %b %Y' }}</span>
					</div>
					<h3><a href="{{ site.post[0].url }}">{{ site.posts[0].title }}</a></h3>
					{% if site.posts[0].resume.size > 0 %}
						<p class="resume">{{ site.posts[0].resume }}</p>
					{% endif %}
					<a class="cta-btn" href="{{ site.posts[0].url }}">Go to the post</a>
				</div>
			{% endif %}
		</div>
	</div>
</section>

<section class="main">
	<div class="container">
		{% if site.posts.size > 1 %}
			{% for post in site.posts offset:1 %}
			<div class="post">
				<div class="card-highlight-date">
					<span>{{ post.date | date: '%d %b %Y'}}</span>
				</div>
				<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
				{% if post.resume %}
					<p>{{ post.resume }}</p>
				{% endif %}
			</div>
			{% endfor %}
		{% else %}
			<div class="post">
				<h2>More posts coming...</h2>
			</div>
		{% endif %}
	</div>
</section>