<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="divider"></div>

        <main {% if type %}class="{{ type }}"{% endif %}>
            <div class="container">

                {% if page.resume %}
                    <p class="main__resume">{{ page.resume }}</p>
                {% endif %}

                {{ content }}
            </div>
        </main>

        {% include footer.html %}

        <link rel="stylesheet" property="stylesheet" type="text/css"
            href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700">
    </body>
</html>
